
<div class="footer">
  <div class="row footer-text">
    <div class="col-sm-12 footer-text">
      <p class="footer-p">We welcome all your thoughts, feelings and suggestions
         Just drop us a mail : <a href="mailto:yashvardhan513@gmail.com"><i class="far fa-envelope"></i></a>
      </p>

    </div>

    <div class="col-sm-12 footer-text">

    </div>

  </div>
  <div class="row footer-text">
    <div class="col-sm-12 footer-text">
      <span class="footer-p"><a href="https://www.facebook.com/profile.php?id=100039280729807"><i class="fab fa-facebook-f footer-icon"></i></a><a href="https://www.instagram.com/yash_vardhan16/?hl=en"><i class="fab fa-instagram footer-icon"></i></a><a href="https://www.linkedin.com/in/yash-vardhan-688952188/"><i class="fab fa-linkedin footer-icon"></i></a><a href="https://github.com/Grumpyyash"><i class="fab fa-github footer-icon"></i></a></span>
    </div>
    <div class="col-sm-12 footer-text copyright">
      <p class="footer-p">Copyright © 2020 Admit-IT</p>
    </div>
  </div>
</div>
</body>
</html>
